:root {
  --header-font-family: "Space Grotesk", sans-serif;
  --body-font-family: "Raleway", sans-serif;
  --primary-color: #8ef5ff;
  --secondary-color: coral;
  --accent-color: #fdd835;
}

nav {
  border-bottom: 5px solid coral;
  max-width: 100%;
}

h1 {
  color: white;
  display: block;
  margin-top: 150px;
  font-family: var(--header-font-family);
  font-size: 120px;
  padding: 100px auto;
  text-align: center;
}
.row {
  --bs-gutter-x: 0;
}
.sub-heading {
  color: var(--secondary-color);
  margin: 30px;
  font-family: var(--body-font-family);
  font-size: 31px;
  text-align: center;
}
.contact-sub-heading {
  color: var(--secondary-color);
  font-size: 18px;
  font-family: var(--body-font-family);
  text-align: center;
}
nav a {
  transition: all 130ms ease-in-out;
}
nav a:hover,
.active {
  font-weight: bold;
}

.container-fluid {
  padding: 0;
}
.hero,
.footer {
  background-color: var(--primary-color);
}
.zoey-lewis-logo {
  width: 70px;
}
.navbar-brand,
.nav-link {
  font-family: var(--body-font-family);
}
.headshot {
  width: 250px;
  border: 5px solid var(--secondary-color);
  border-radius: 100%;
  position: relative;
  top: -100px;
}
@media (max-width: 767.98px) {
  .headshot {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0px;
  }
  .project-button {
    display: block;
    margin: 0 auto;
    max-width: fit-content;
  }
  .project-header,
  .project-description,
  .footer-text,
  .page-header,
  .about-me-paragraph {
    text-align: center;
  }
  #projectHeader,
  #contactHeader {
    font-size: 80px;
  }
  .page-header {
    font-size: 100px;
    margin: 130px auto 20px auto;
    padding-left: 0px;
  }
  .about-me-image {
    margin: 20px auto 0px;
    display: block;
    max-width: 80%;
  }
  .sub-footer-text {
    font-size: 13px;
  }
}
@media (min-width: 767.98px) {
  .project-cards {
    position: relative;
    top: -80px;
    margin: 30px;
  }
  .project-button {
    margin-left: 15px;
  }
}
.project-image,
.workpage-project-image {
  border: 5px solid var(--accent-color);
  border-radius: 8px;
  margin: 10px auto;
}
.project-header {
  color: var(--secondary-color);
  margin: 15px;
  font-family: var(--header-font-family);
}
.project-page-project-header {
  color: var(--secondary-color);
  font-family: var(--header-font-family);
  text-align: center;
}
.project-text {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  text-align: center;
}
.project-description,
.about-me-paragraph {
  color: var(--secondary-color);
  margin: 15px;
  font-family: var(--body-font-family);
}
.project-button {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: white;
  font-family: var(--body-font-family);
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: all 130ms ease-in-out;
}

.contact-me-button {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: white;
  display: block;
  margin: 0 auto;
  font-family: var(--body-font-family);
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: fit-content;
  transition: all 130ms ease-in-out;
}
.contact-me-button:hover {
  background-color: #f9703e;
  box-shadow: 0px 2px 10px 0px var(--secondary-color);
  color: white;
}
.project-button:hover {
  background-color: #f9703e;
  box-shadow: 0px 2px 10px 0px var(--secondary-color);
  color: white;
}
.footer {
  color: white;
  font-family: var(--body-font-family);
  padding: 20px 0px;
}
.footer-text {
  font-size: 20px;
  margin: 0px 10px;
  text-align: center;
}
.footer-text a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.footer-text a:hover {
  color: var(--secondary-color);
}
.sub-footer-text a {
  text-decoration: none;
  color: white;
  font-family: var(--body-font-family);
  display: flex;
  justify-content: center;
}
.sub-footer-text:hover {
  font-weight: bold;
}
.footer .contact-icons,
.footer .contact-icons a {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0px 10px;
  padding: 10px;
  transition: all 150ms ease-in-out;
}

.footer .contact-icons a:hover {
  color: var(--secondary-color);
  border-radius: 100%;
  background-color: white;
}

.about-me-image {
  border: solid 5px var(--accent-color);
  border-radius: 8px;
}
.workpage-project-image {
  max-width: 80%;
  max-height: 80%;
  display: flex;
  justify-content: center;
}
.contact-links {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact-links a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  font-size: 25px;
  transition: all 130ms ease-in-out;
}
.contact-links a:hover {
  font-weight: bold;
}
