nav {
  border-bottom: 5px solid coral;
}

h1 {
  color: white;
  display: block;
  margin-top: 150px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 120px;
  padding: 100px auto;
  text-align: center;
  width: 100%;
}
h2 {
  color: coral;
  margin: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 31px;
  text-align: center;
}
nav a:hover {
  font-weight: bold;
}
.hero {
  background-color: #8ef5ff;
}
.zoey-lewis-logo {
  width: 70px;
  margin-bottom: 10px;
}
.headshot {
  width: 250px;
  border: 5px solid coral;
  border-radius: 100%;
  position: relative;
  top: -100px;
}
@media (max-width: 767.98px) {
  .headshot {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0px;
  }
}
.contact-me-link {
  background-color: coral;
  color: white;
  display: block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  max-width: 150px;
  position: relative;
  top: -150px;
}
@media (max-width: 767.98px) {
  .contact-me-link {
    max-width: 50%;
    position: relative;
    top: 30px;
  }
}
