:root {
  --header-font-family: "Space Grotesk", sans-serif;
  --body-font-family: "Raleway", sans-serif;
  --primary-color: #8ef5ff;
  --secondary-color: coral;
  --accent-color: #fdd835;
}

nav {
  border-bottom: 5px solid coral;
  max-width: 100%;
}

h1 {
  color: white;
  display: block;
  margin-top: 150px;
  font-family: var(--header-font-family);
  font-size: 120px;
  padding: 100px auto;
  text-align: center;
}
.sub-heading {
  color: var(--secondary-color);
  margin: 30px;
  font-family: var(--body-font-family);
  font-size: 31px;
  text-align: center;
}
nav a:hover {
  font-weight: bold;
}
.hero,
.footer {
  background-color: var(--primary-color);
}
.zoey-lewis-logo {
  width: 70px;
  margin-bottom: 10px;
}
.headshot {
  width: 250px;
  border: 5px solid var(--secondary-color);
  border-radius: 100%;
  position: relative;
  top: -100px;
}
@media (max-width: 767.98px) {
  .headshot {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 0px;
  }
}
@media (min-width: 767.98px) {
  .project-cards {
    position: relative;
    top: -80px;
  }
}
.project-image {
  border: 5px solid var(--accent-color);
  border-radius: 8px;
  margin: 10px auto;
}
.project-header {
  color: var(--secondary-color);
  margin: 10px;
  font-family: var(--header-font-family);
}
.project-description {
  color: var(--secondary-color);
  margin: 10px;
  font-family: var(--body-font-family);
}
.contact-me-button {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  box-shadow: 0px 7px 29px 0px var(--secondary-color);
  color: white;
  display: block;
  margin: 0 auto;
  font-family: var(--body-font-family);
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
.footer {
  color: white;
  font-family: var(--body-font-family);
  padding: 20px 0px;
}
.footer-text {
  font-size: 20px;
  margin: 0px 10px;
  text-align: center;
}
.contact-icons {
  font-size: 30px;
  text-align: center;
}
i {
  margin: 0px 20px;
}
